.chip--base {
  @include font-size(small);
  font-weight: 500;
  padding: 0.3rem 1rem;
  color: var(--color-text);
  background-color: rgba(var(--color-text-rgb), 0.05);
  border-radius: 2em;
  outline: none;
  transition: all 400ms easing(out-expo);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-text);
    background-color: transparent;
    box-shadow: inset 0 0 0 0.1em var(--color-text);
  }
}
