[x-cloak] {
  display: none;
}

[v-cloak] {
  display: none !important;
}

body {
  background-color: color(background);
  color: color(main);

  * {
    box-sizing: border-box;
  }
}

svg[id^="mdi"],
svg[class^="mdi"] {
  fill: currentColor;
}

img {
  max-width: 100%;
  display: block;
}

[data-src] {
  position: relative;
  opacity: 0;
  transition: opacity 400ms easing(out-expo);

  &.loaded {
    opacity: 1;
  }
}

span.inlineSVGIcon {
  line-height: 0;
}

a {
  display: inline-flex;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style-type: disc;
}

.tippy-box[data-theme~="primary"] {
  @include font-size(p);
  background-color: lighten(color(text), 10%);
  color: color(background);
  border-color: lighten(color(text), 10%);
  padding: 0.5rem;
  border-radius: 0.5em;

  p:first-of-type {
    margin-top: 0;
  }

  p:only-child {
    margin: 0;
  }

  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: lighten(color(text), 10%);
  }

  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: lighten(color(text), 10%);
  }

  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: lighten(color(text), 10%);
  }

  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: lighten(color(text), 10%);
  }
}

.button {
  @include font-size(x-small);
  font-weight: 500;
  display: block;
  background-color: transparent;
  border: none;
  text-underline-offset: 0.2em;
  padding: 0;
  background-color: lighten(color(text), 5%);
  color: rgba(color(background), 0.7);
  padding: 0.5em 1rem;
  border-radius: 2.5rem;
  transition: all 250ms easing(out-expo);

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  svg {
    width: 1em;
    height: 1em;
  }

  &:hover {
    color: color(background);
  }
}
// Customize text selection
::selection {
  background: color(main);
  color: color(background);
}

::-moz-selection {
  background: color(main);
  color: color(background);
}
