// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.hide-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.inline-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// display
.display-table {
  display: table;
  width: 100%;
  height: 100%;

  .display-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

// background
.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img-background {
  position: relative;
  overflow: hidden;

  img,
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
}

.overlay-dark {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    opacity: 0.5;
    background-color: $black;
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(var(--color-text-rgb), 0.5);
  z-index: 1100;

  &-enter-active,
  &-leave-active {
    transition: all 200ms easing(out-expo);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

// visibility
.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: inline-block;
  visibility: visible;
}

.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

.springfield_living-container {
  padding: 0 $page_padding;
}

.line-through {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    width: 100%;
    height: 0.1rem;
    position: absolute;
    left: 0.25rem;
    top: 50%;
    margin-top: -0.1rem;
    background-color: var(--color-text);
    transform-origin: center;
    transform: rotate(5deg);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
  background-color: rgba(var(--color-text-rgb), 0.8);

  &.hidden {
    display: none;
  }

  .closePopup {
    @extend .button--icon;
    right: $page-padding;
    top: 1rem;

    &.closePopup {
      position: fixed;
    }
  }
}

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}

.focus-outline {
  :root.focus-source-key &:focus {
    transition: none;
    outline: 0.15rem dashed color(main);
    outline-offset: 0.2rem;
  }
}

.section-title {
  padding: 0 0 1rem 0;
  color: color(main);
  position: relative;

  h2 {
    margin: 0;
  }

  p {
    color: color(text-lighter);
    line-height: 2;
  }

  &::after {
    content: "";
    width: 7.5rem;
    height: 0.05rem;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @include device(mobileAndTablet) {
    h2 {
      margin: 0;
    }
  }
}

.section-title-center {
  padding: 0 0 2rem 0;
  color: color(main);
  position: relative;
  text-align: center;

  h2 {
    margin: 0;
  }

  p {
    color: color(text-lighter);
    line-height: 2;
  }

  &::after {
    content: "";
    width: 7.5rem;
    height: 0.05rem;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -3.8rem;
  }

  @include device(mobileAndTablet) {
    padding: 0 0 2rem 0;

    h2 {
      margin: 0;
    }
  }
}

.springfield_living_page__intro {
  @extend .section-title-center;
  padding: 0 $page-padding 1rem;

  h2,
  h1 {
    text-transform: capitalize;
  }

  @include device(mobileAndTablet) {
    padding: 0 0 1rem;
  }
}
