.footer {
  @include font-size(h5);
  position: relative;
  width: 100%;
  background-color: darken(color(text), 5%);
  color: color(background);
  padding: 7.5rem $page-padding;
  --text-decoration-color: color(background);

  &__title {
    @include font-size(h2);
    margin-top: 0;
  }

  a {
    text-decoration: underline 0.1em;
    text-underline-offset: 0.1em;
    text-decoration-color: var(--text-decoration-color);
  }
}
