.footer {
  @include font-size(h5);
  position: relative;
  width: 100%;
  background-color: darken(color(text), 5%);
  color: color(background);
  padding: 7.5rem $page-padding;
  --text-decoration-color: color(background);

  &__title {
    @include font-size(h2);
    margin-top: 0;
  }

  a {
    text-decoration: underline 0.1em;
    text-underline-offset: 0.1em;
    text-decoration-color: var(--text-decoration-color);
    color: var(--text-decoration-color);
  }

  a.githubLink {
    @include font-size(small);
    @extend .flex-center;
    font-weight: 600;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: lighten(color(text), 5%);
    color: #fff;
    padding: 0.5em 0;
    border-radius: 0.5em;
    z-index: 1000;
    text-decoration: none;

    svg {
      width: 1rem;
      height: 1rem;
      margin: 0 0.75em;
    }
  }
}
