.form {
  @extend .flex-start;
  position: relative;
  align-items: flex-start;
  width: 100%;
  background-color: color(text);
  color: color(background);
  padding: 10rem $page-padding;
  z-index: 1000;

  &__actions {
    @extend .flex-start;
    @include font-size(small);
    margin: 0 0 0.5rem 0;
    flex-wrap: nowrap;
    font-weight: 600;
    color: rgba(color(background), 0.7);

    button {
      @include font-size(x-small);
      font-weight: 500;
      display: block;
      background-color: transparent;
      border: none;
      text-underline-offset: 0.2em;
      padding: 0;
      background-color: lighten(color(text), 5%);
      color: rgba(color(background), 0.7);
      padding: 0.5em 1rem;
      border-radius: 2.5rem;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      svg {
        width: 1em;
        height: 1em;
      }

      &:hover {
        color: color(background);
      }
    }
  }

  &__title {
    width: 100%;
    margin: 0;
  }

  &__subtitle {
    @include font-size(p);
    font-weight: 600;
    color: rgba(color(background), 0.5);
    margin: 0 0 2.5rem 0;
  }

  &__input {
    width: 30rem;
    margin: 0;
    position: relative;

    > label {
      @include font-size(h5);
      @extend .flex-start;
      font-weight: 500;
      margin-bottom: 0.75rem;
    }

    &-inner {
      @extend .flex-between;
      border: 0.15rem solid rgba(color(background), 0.25);
      border-radius: 0.5em;
      padding: 0 0.5rem;
      position: relative;
      transition: all 300ms easing(out-expo);

      > input {
        height: 3.5rem;
        background-color: transparent;
        color: color(background);
        border: none;
        outline: none;
        padding: 0 1rem;
        flex-basis: 18rem;
        flex-grow: 1;
      }

      .focused & {
        border-color: rgba(color(background), 0.5);
      }

      .picking & {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover {
      .form__copy {
        opacity: 1;
        visibility: visible;
      }
    }

    &-actions {
      @extend .flex-start;

      > button {
        @include font-size(small);
        display: block;
        background-color: transparent;
        color: rgba(color(background), 0.7);
        border: none;
        margin-top: 1em;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: 0.2em;
        padding: 0;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }

      @include device(mobile) {
        margin-left: auto;
      }
    }

    @include device(tablet) {
      margin: 0;

      &-inner {
        > input {
          width: 12.5rem;
        }
      }
    }

    @include device(mobileAndTablet) {
      width: 100%;
      &-inner {
        > input {
          flex-basis: 15rem;
        }
      }
    }
  }

  &__picker-button,
  &__format-button {
    @extend .flex-center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25em;
    border: none;
    background-color: lighten(color(text), 5%);
    color: color(background);
    transition: all 300ms easing(out-expo);

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: 0 0 0 0.1em color(background);
    }
  }

  &__picker {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 100;

    .react-colorful {
      width: 100%;
      height: 15rem;
      border: 0.15rem solid rgba(color(background), 0.25);
      border-top: none;

      &__saturation {
        border-radius: 0;
        border: 0;
      }

      &__alpha,
      &__hue {
        height: 1.5rem;
        border-radius: 0;
      }

      &__pointer {
        width: 1.25rem;
        height: 1.25rem;
        border: 0.2rem solid #fff;
        box-shadow: none;
      }

      &__hue {
        border: 0.5rem solid color(text);
        border-bottom-left-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
      }
    }

    @include device(mobile) {
      .react-colorful {
        width: 100vw - $page-padding * 2 !important;
        height: 15rem;
      }
    }
  }

  &__format {
    position: relative;

    &-button {
      @include font-size(x-small);
      text-transform: uppercase;
      font-weight: 700;
      width: auto;
      padding: 0 0.5rem;

      &[aria-expanded="true"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &-dropdown {
      @extend .inline-list;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1100;
      background-color: lighten(color(text), 5%);
      border-bottom-left-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
      min-width: 100%;

      li {
        @include font-size(x-small);
        padding: 0.5rem;
        border-radius: 0.25em;
        text-transform: uppercase;
        font-weight: 700;

        &.active {
          background-color: lighten(color(text), 10%);
        }

        &.selected,
        &:disabled {
          color: darken(color(background), 25%);
        }
      }
    }
  }

  &__result {
    @include font-size(h6);
    @extend .flex-start;
    display: inline-flex;
    width: 100%;
    height: 4rem;
    border-radius: 0.5em;
    border: 0.2em solid material-color("green", "800");
    padding: 0.25em 1em 0.25em 5.5rem;
    margin: 0 0 2.5rem 0;
    background-color: transparent;
    color: color(background);
    position: relative;

    b {
      @extend .flex-center;
      @include font-size(h4);
      padding: 0.25em 0.5em;
      border-radius: 0.25em;
      font-weight: 600;
      margin-right: 0.5em;
      width: 5.5rem;
      height: 5.5rem;
      position: absolute;
      left: -0.75rem;
      top: -1rem;
      border-radius: 5.5rem;
    }

    @include device(mobile) {
      @include font-size(small);
    }
  }

  &__swap {
    @extend .flex-center;
    align-self: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: lighten(color(text), 5%);
    color: color(background);
    border: none;
    transition: all 300ms easing(out-expo);
    margin: 1.5rem 0;
    transform: rotate(90deg);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: 0 0 0 0.1em color(background);
    }
  }

  &__inner {
    width: 50%;

    @include device(mobileAndTablet) {
      width: 100%;
      position: relative;
      margin-bottom: 1.5rem;
    }
  }

  &__demo {
    width: 100%;
    padding: 2.5rem;
    border-radius: 0.5em;
    border: 0.15em solid color(background);

    &-outer {
      width: 50%;
    }

    &-validation {
      &.fail {
        text-decoration: line-through;
        text-decoration-thickness: 0.2em;
      }
    }

    h2 {
      @include font-size(h3);
      margin: 0;
    }

    p:first-of-type {
      margin-top: 0.5rem;
    }

    &-categories {
      @include font-size(x-small);
      @extend .flex-start;
      @extend .inline-list;
      margin: -0.25em 0 1rem -0.25em;
      font-weight: 500;

      li {
        background-color: color(background);
        color: inherit;
        border-radius: 1em;
        padding: 0.25em 1em;
        margin: 0.25em;
      }
    }

    &-buttons {
      @include font-size(x-small);
      @extend .flex-start;
      @extend .inline-list;
      margin: 2em 0 0 -1em;

      li {
        margin: 0 1em;

        svg {
          width: 2em;
          height: 2em;
        }

        &:last-child {
          margin-left: auto;
        }
      }
    }

    @include device(mobileAndTablet) {
      &-outer {
        width: 100%;
        margin-top: 2.5rem;
      }
    }
  }

  @include device(tablet) {
    padding: 5rem $page-padding 5rem;
  }

  @include device(mobile) {
    padding: 2.5rem $page-padding 5rem;
    justify-content: flex-start;
  }
}

.githubLink {
  @include font-size(small);
  @extend .flex-center;
  font-weight: 600;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #333;
  color: #fff;
  padding: 0.5em 0;
  border-radius: 0.5em;

  svg {
    width: 1rem;
    height: 1rem;
    margin: 0 0.75em;
  }
}
