.form {
  width: 50%;

  &__outer {
    @extend .flex-start;
    position: relative;
    align-items: flex-start;
    width: 100%;
    background-color: color(text);
    color: color(background);
    padding: 10rem $page-padding;
    z-index: 1000;

    @include device(tablet) {
      padding: 5rem $page-padding 5rem;
    }

    @include device(mobile) {
      padding: 2.5rem $page-padding 5rem;
      justify-content: flex-start;
    }
  }

  &__actions {
    @extend .flex-start;
    @include font-size(small);
    margin: 0 0 0.5rem 0;
    flex-wrap: nowrap;
    font-weight: 600;
    color: rgba(color(background), 0.7);

    button {
      @extend .button;
    }
  }

  &__title {
    width: 100%;
    margin: 0;
  }

  &__subtitle {
    @include font-size(p);
    font-weight: 600;
    color: rgba(color(background), 0.5);
    margin: 0 0 2.5rem 0;
  }

  &__result {
    @include font-size(h6);
    @extend .flex-start;
    display: inline-flex;
    width: 100%;
    height: 4rem;
    border-radius: 0.5em;
    border: 0.2em solid material-color("green", "800");
    padding: 0.25em 1em 0.25em 5rem;
    margin: 0 0 2.5rem 0;
    background-color: transparent;
    color: color(background);
    position: relative;

    b {
      @extend .flex-center;
      @include font-size(h4);
      padding: 0.25em 0.5em;
      border-radius: 0.25em;
      font-weight: 600;
      margin-right: 0.5em;
      width: 5.5rem;
      height: 5.5rem;
      position: absolute;
      left: -1rem;
      top: -1rem;
      border-radius: 5.5rem;
    }

    @include device(mobile) {
      @include font-size(small);
    }
  }

  &__swap {
    @extend .flex-center;
    align-self: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: lighten(color(text), 5%);
    color: color(background);
    border: none;
    transition: all 300ms easing(out-expo);
    margin: 1.5rem 0;
    transform: rotate(90deg);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: 0 0 0 0.1em color(background);
    }
  }

  &__demo {
    width: 100%;
    padding: 2.5rem;
    border-radius: 0.5em;
    border: 0.15em solid color(background);

    &-outer {
      width: 50%;
    }

    &-validation {
      transition: all 250ms easing(out-expo);

      &.fail {
        text-decoration: line-through;
        text-decoration-thickness: 0.2em;
      }

      &:hover {
        outline: 0.15em dashed color(background);
        outline-offset: 0.2em;
      }
    }

    &-tooltip {
      display: none;
    }

    h2 {
      @include font-size(h3);
      margin: 0;
    }

    p:first-of-type {
      margin-top: 0.5rem;
    }

    &-categories {
      @include font-size(x-small);
      @extend .flex-start;
      @extend .inline-list;
      margin: -0.25em 0 1rem -0.25em;
      font-weight: 500;

      li {
        background-color: color(background);
        color: inherit;
        border-radius: 1em;
        padding: 0.25em 1em;
        margin: 0.25em;
      }
    }

    &-buttons {
      @include font-size(x-small);
      @extend .flex-start;
      @extend .inline-list;
      margin: 2em 0 0 -1em;

      li {
        margin: 0 1em;

        svg {
          width: 2em;
          height: 2em;
        }

        &:last-child {
          margin-left: auto;
        }
      }
    }

    @include device(mobileAndTablet) {
      &-outer {
        width: 100%;
        margin-top: 2.5rem;
      }
    }
  }

  @include device(mobileAndTablet) {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
  }
}

.githubLink {
  @include font-size(small);
  @extend .flex-center;
  font-weight: 600;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #333;
  color: #fff;
  padding: 0.5em 0;
  border-radius: 0.5em;

  svg {
    width: 1rem;
    height: 1rem;
    margin: 0 0.75em;
  }
}
