.form {
  @extend .flex-center;
  position: relative;
  align-items: flex-start;
  width: 100%;
  background-color: color(text);
  color: color(background);
  padding: 7.5rem 5rem 10rem;
  z-index: 1000;

  &__title {
    width: 100%;
    text-align: center;

    > svg {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0;
    }

    h1 {
      margin: 0;
    }

    > a,
    > p {
      @include font-size(small);
      font-weight: 600;
      color: rgba(color(background), 0.5);
    }

    &-shareLink {
      @extend .flex-center;
      margin: 0.5rem 0 2.5rem;
      flex-wrap: nowrap;

      button {
        @extend .flex-center;
        background-color: transparent;
        color: inherit;
        border: none;
        margin-right: 0.25em;

        svg {
          width: 1em;
          height: 1em;
        }

        &:hover {
          color: rgba(color(background), 0.7);
        }
      }

      a:hover {
        text-decoration: underline;
        color: rgba(color(background), 0.7);
        word-break: break-all;
      }

      @include device(mobileAndTablet) {
        align-items: flex-start;
      }
    }

    @include device(mobile) {
      text-align: left;
    }
  }

  &__input {
    margin: 0 1rem;
    position: relative;

    > label {
      @include font-size(p);
      @extend .flex-start;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    &-inner {
      @extend .flex-between;
      border: 0.15rem solid rgba(color(background), 0.25);
      border-radius: 0.5em;
      padding: 0 0.5rem;
      position: relative;
      transition: all 300ms easing(out-expo);

      > input {
        width: 15rem;
        height: 3rem;
        background-color: transparent;
        color: color(background);
        border: none;
        outline: none;
        padding: 0 1rem;
      }

      .focused & {
        border-color: rgba(color(background), 0.5);
      }

      .picking & {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover {
      .form__copy {
        opacity: 1;
        visibility: visible;
      }
    }

    @include device(tablet) {
      margin: 0;

      &-inner {
        > input {
          width: 12.5rem;
        }
      }
    }

    @include device(mobile) {
      width: 100%;
      margin: 0;

      &-inner {
        width: 100%;

        > input {
          flex-grow: 1;
        }
      }
    }
  }

  &__picker-button,
  &__format-button {
    @extend .flex-center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25em;
    border: none;
    background-color: lighten(color(text), 5%);
    color: color(background);
    transition: all 300ms easing(out-expo);

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: 0 0 0 0.1em color(background);
    }
  }

  &__picker-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 100;

    .react-colorful {
      width: 100%;
      height: 15rem;
      border: 0.15rem solid rgba(color(background), 0.25);
      border-top: none;

      &__saturation {
        border-radius: 0;
        border: 0;
      }

      &__alpha,
      &__hue {
        height: 1.5rem;
        border-radius: 0;
      }

      &__pointer {
        width: 1.25rem;
        height: 1.25rem;
        border: 0.2rem solid #fff;
        box-shadow: none;
      }

      &__hue {
        border: 0.5rem solid color(text);
        border-bottom-left-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
      }
    }

    @include device(mobile) {
      .react-colorful {
        width: 100vw - $page-padding * 2 !important;
        height: 15rem;
      }
    }
  }

  &__format {
    position: relative;

    &-button {
      @include font-size(x-small);
      text-transform: uppercase;
      font-weight: 700;
      width: auto;
      padding: 0 0.5rem;

      &[aria-expanded="true"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &-dropdown {
      @extend .inline-list;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1100;
      background-color: lighten(color(text), 5%);
      border-bottom-left-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
      min-width: 100%;

      li {
        @include font-size(x-small);
        padding: 0.5rem;
        border-radius: 0.25em;
        text-transform: uppercase;
        font-weight: 700;

        &.active {
          background-color: lighten(color(text), 10%);
        }

        &.selected,
        &:disabled {
          color: darken(color(background), 25%);
        }
      }
    }
  }

  &__result {
    @include font-size(h3);
    @extend .flex-center;
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    bottom: -5.625rem;
    left: 50%;
    margin-left: -3.25rem;
    border-radius: 100%;
    background-color: material-color("green", "500");
    border: 0.5rem solid color(background-darker);

    @include device(mobile) {
      right: $page-padding;
      margin-left: 0;
      left: auto;
    }
  }

  &__swap {
    @extend .flex-center;
    align-self: flex-end;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: lighten(color(text), 5%);
    color: color(background);
    border: none;
    transition: all 300ms easing(out-expo);
    margin: 0 1rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: 0 0 0 0.1em color(background);
    }

    @include device(mobile) {
      margin: 1rem 0;
      transform: rotate(90deg);
    }
  }

  &__copy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    color: inherit;
    margin-left: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 400ms easing(out-expo);
  }

  @include device(tablet) {
    padding: 5rem $page-padding 5rem;
  }

  @include device(mobile) {
    padding: 2.5rem $page-padding 5rem;
    justify-content: flex-start;
  }
}
